@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Rieltor", Arial, sans-serif;
}

.popularComplexesModal-container {
  background: #f9f9f9;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;
}
.popularComplexesModal-container__content {
  width: 90%;
}
.popularComplexesModal-container__content_info {
  display: none;
  flex-direction: column;
  gap: 70px;
  padding-top: 100px;
}
.popularComplexesModal-container__content_info_active {
  display: flex;
  width: 100%;
}
.popularComplexesModal-container__content_info_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  padding: 17px 0;
}
.popularComplexesModal-container__content_info_header_h1 {
  font-size: 9px;
  color: #989898;
  font-weight: 400;
  border: none;
  background: none;
  text-transform: uppercase;
}
.popularComplexesModal-container__content_info_header_h1:hover {
  cursor: pointer;
  opacity: 0.5;
}
.popularComplexesModal-container__content_info_header_h1:active {
  cursor: grabbing;
}
.popularComplexesModal-container__content_info_header_p {
  font-size: 9px;
  font-weight: 400;
  color: #cbcbcb;
}
.popularComplexesModal-container__content_info_residential {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.popularComplexesModal-container__content_info_residential_h1 {
  color: #1c1b1b;
  font-size: 23px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}
.popularComplexesModal-container__content_info_residential_data {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.popularComplexesModal-container__content_info_residential_data_imgs {
  position: relative;
  width: 50%;
  min-height: 500px;
}
.popularComplexesModal-container__content_info_residential_data_imgs_img {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  z-index: 1;
}
.popularComplexesModal-container__content_info_residential_data_imgs_right {
  position: absolute;
  z-index: 2;
  right: 30px;
  bottom: 50%;
  border: 1px solid #882772;
  background: #f6dddd;
  width: 5%;
  border-radius: 50%;
}
.popularComplexesModal-container__content_info_residential_data_imgs_right:hover {
  cursor: pointer;
  opacity: 0.5;
}
.popularComplexesModal-container__content_info_residential_data_imgs_right:active {
  cursor: grabbing;
}
.popularComplexesModal-container__content_info_residential_data_imgs_left {
  transform: rotate(-179deg);
  position: absolute;
  z-index: 2;
  width: 5%;
  border-radius: 50%;
  background: #f6dddd;
  border: 1px solid #882772;
  left: 30px;
  bottom: 50%;
}
.popularComplexesModal-container__content_info_residential_data_imgs_left:hover {
  cursor: pointer;
  opacity: 0.5;
}
.popularComplexesModal-container__content_info_residential_data_imgs_left:active {
  cursor: grabbing;
}
.popularComplexesModal-container__content_info_residential_data_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}
.popularComplexesModal-container__content_info_residential_data_text_h1 {
  color: #1c1b1b;
  font-size: 21px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}
.popularComplexesModal-container__content_info_residential_data_text_paragraphs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}
.popularComplexesModal-container__content_info_residential_data_text_paragraphs_p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #7d7f81;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  opacity: 0.8;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.popularComplexesModal-container__content_info_residential_data_text_paragraphs_p_span {
  color: #414141;
  font-size: 19px;
  line-height: 1.3;
  font-weight: 600;
}
.popularComplexesModal-container__content_info_residential_data_text_button {
  color: #ffffff;
  display: flex;
  min-height: 40px;
  width: 40%;
  font-size: 11px;
  font-family: "Rieltor", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  border-width: 1px;
  border-radius: 4px;
  background: #882772;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.popularComplexesModal-container__content_info_residential_data_text_button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.popularComplexesModal-container__content_info_residential_data_text_button:active {
  cursor: grabbing;
}
.popularComplexesModal-container__content_info_description_header {
  display: flex;
  gap: 30px;
}
.popularComplexesModal-container__content_info_description_header_h1 {
  width: 50%;
  color: #1c1b1b;
  font-size: 21px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}
.popularComplexesModal-container__content_info_description_header_p {
  width: 90%;
  color: #7d7f81;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 400;
}
.popularComplexesModal-container__content_info_layout_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.popularComplexesModal-container__content_info_layout_header_h1 {
  color: #1c1b1b;
  font-size: 21px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}
.popularComplexesModal-container__content_info_layout_header_p {
  width: 90%;
  color: #7d7f81;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
}
.popularComplexesModal-container__content_info_layout_rooms {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}
.popularComplexesModal-container__content_info_layout_rooms_datails {
  border: 1px solid #882772;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_summary {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 15px;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_summary_h1 {
  width: 100%;
  color: #121212;
  font-size: 16px;
  height: 100%;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_summary_h1_span {
  color: #737a8e;
  font-size: 18px;
  display: flex;
  width: 59%;
  flex-direction: row;
  justify-content: space-around;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_summary:hover {
  cursor: pointer;
  opacity: 0.5;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_summary:active {
  cursor: grabbing;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_summary::marker {
  content: "";
}
.popularComplexesModal-container__content_info_layout_rooms_datails_summary::after {
  position: relative;
  top: 3px;
  content: "︾";
  font-weight: bolder;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_apartments {
  background: #f6dddd;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_apartments_grid {
  grid-template: repeat(1, 1fr)/repeat(3, 1fr);
}
.popularComplexesModal-container__content_info_layout_rooms_datails_apartments_apartament {
  padding: 5px;
  background: #ffffff;
  box-shadow: 1px 1px 1px 1px rgba(34, 60, 80, 0.2);
}
.popularComplexesModal-container__content_info_layout_rooms_datails_apartments_apartament_imgs {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 270px;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_apartments_apartament_imgs_img {
  position: absolute;
  width: 65%;
  height: 100%;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_apartments_apartament_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_apartments_apartament_info_h1 {
  font-size: 12px;
  color: #737a8e;
  font-weight: 700;
  font-family: "Rieltor";
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_apartments_apartament_info_h1_span {
  font-size: 13px;
  color: #882772;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_apartments_apartament_info_p {
  font-size: 12px;
  color: #737a8e;
  font-weight: 700;
  font-family: "Rieltor";
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.popularComplexesModal-container__content_info_layout_rooms_datails_apartments_apartament_info_p_span {
  font-size: 13px;
  color: #882772;
}
.popularComplexesModal-container__content_info_viewComplexes {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 0;
}
.popularComplexesModal-container__content_info_viewComplexes_h1 {
  color: #1c1b1b;
  font-size: 21px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}
.popularComplexesModal-container__content_info_viewComplexes_complexes {
  width: 100%;
    display: grid;
    gap: 45px;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr)
}
.popularComplexesModal-container__content_info_viewComplexes_complexes_complex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid purple;
  padding: 5px;
  box-shadow: 2px 2px 5px 4px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}
.popularComplexesModal-container__content_info_viewComplexes_complexes_complex_imgs {
  position: relative;
  width: 100%;
  min-height: 150px;
}
.popularComplexesModal-container__content_info_viewComplexes_complexes_complex_imgs_img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.popularComplexesModal-container__content_info_viewComplexes_complexes_complex_info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.popularComplexesModal-container__content_info_viewComplexes_complexes_complex_info_h2 {
  font-size: 13px;
  color: #262626;
  font-weight: 700;
  text-transform: uppercase;
}
.popularComplexesModal-container__content_info_viewComplexes_complexes_complex_info_p {
  font-size: 13px;
  line-height: 1.4;
  color: #7d7f81;
  font-weight: 400;
}
.popularComplexesModal-container__content_info_viewComplexes_complexes_complex_info_btn {
  background: #882772;
    color: #ffffff;
    width: 75%;
    min-height: 30px;
    border-radius: 10px;
}
.popularComplexesModal-container__content_info_viewComplexes_complexes_complex_info_btn:hover {
  cursor: pointer;
  opacity: 0.5;
}
.popularComplexesModal-container__content_info_viewComplexes_complexes_complex_info_btn:active {
  cursor: grabbing;
}

.popularComplexesModal-container__content_info_layout_rooms_datails[open] > .popularComplexesModal-container__content_info_layout_rooms_datails_summary::after {
  content: "︽";
  position: relative;
  top: -5px;
}

.popularComplexesModal-container__content_info_layout_rooms_datails[open] > .popularComplexesModal-container__content_info_layout_rooms_datails_summary {
  color: #ffffff;
  background: #882772;
}

@media (max-width: 500px) {
  .popularComplexesModal-container__content_info_residential_h1 {
    font-size: 18px;
    text-align: center;
  }

  .popularComplexesModal-container__content_info_residential_data {
    flex-direction: column;
  }

  .popularComplexesModal-container__content_info_residential_data_imgs {
    width: 100%;
    min-height: 300px;
  }

  .popularComplexesModal-container__content_info_residential_data_text {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .popularComplexesModal-container__content_info_residential_data_text_h1 {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }

  .popularComplexesModal-container__content_info_residential_data_text_paragraphs_p {
    font-size: 11px;
  }

  .popularComplexesModal-container__content_info_residential_data_text_paragraphs_p_span {
    font-size: 12px;
  }

  .popularComplexesModal-container__content_info_residential_data_text_button {
    font-size: 9px;
    width: 60%;
  }

  .popularComplexesModal-container__content_info_residential_data_text_paragraphs {
    width: 100%;
    padding: 10px;
  }

  .popularComplexesModal-container__content_info_description_header {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .popularComplexesModal-container__content_info_description_header_h1 {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }

  .popularComplexesModal-container__content_info_description_header_p {
    width: 100%;
    text-align: center;
    font-size: 13px;
  }

  .popularComplexesModal-container__content_info_layout_header_h1 {
    font-size: 18px;
  }

  
  .popularComplexesModal-container__content_info_layout_header_p {
    font-size: 13px;
      width: 100%;
  }

  .popularComplexesModal-container__content_info_layout_rooms_datails_summary_h1 {
    font-size: 11px;
  }

  .popularComplexesModal-container__content_info_layout_rooms_datails_summary_h1_span {
    font-size: 9px;
    gap: 10px;
  }

  .popularComplexesModal-container__content_info_layout_rooms_datails_apartments {
    display: flex;
    flex-direction: column;
  }

  .popularComplexesModal-container__content_info_viewComplexes_complexes {
    display: flex;
    flex-direction: column;
  }

  .popularComplexesModal-container__content_info_viewComplexes_h1 {
    font-size: 18px;
    text-align: center;
  }
}

@media (min-width: 501px) and (max-width: 950px) {
  .popularComplexesModal-container__content_info_residential_h1 {
    font-size: 20px;
  }

  .popularComplexesModal-container__content_info_residential_data {
    flex-direction: column;
  }

  .popularComplexesModal-container__content_info_residential_data_imgs {
    width: 100%;
  }
  .popularComplexesModal-container__content_info_residential_data_text {
    width: 100%;
  }
  .popularComplexesModal-container__content_info_description_header_h1 {
    font-size: 20px;
    width: 60%;
  }
  .popularComplexesModal-container__content_info_layout_rooms_datails_apartments {
    grid-template-columns: repeat(2, 1fr);
  }

  .popularComplexesModal-container__content_info_viewComplexes_complexes {
    grid-template-columns: repeat(2, 1fr);
  }
}